@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');


*{
  font-family: 'Quicksand', sans-serif !important;
}
#root,
html,
body {
  height: 100vh;
  
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
